.bioHeader{
	/*font-weight: 800;
	margin-right: 20px;*/
}
#input, .bioHolder{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0px
}
.bioHolder{
	width: 80%;
	border: 1px solid #D0D0D0;
	display: inline-block;
	padding: 3px;
}
.distanceHolder{
	width: 200px;
	display: inline-block;
}
.reduceMargin{
	margin-top: 0px;
}
#userMsg {
	margin-left: 200px;
}
.direction{
	font-size: 1.1em;
}
#input{
	width: 80%;
}
.bioHolder span{
	padding: 3px 0px 1px 0px; 
	margin: 0px;
}
.sideToggleContainer{
	/*border: 1px solid #D0D0D0; */
	width: 97.5%;
	margin-top: 16px;
}
.sideToggleBar{
	/*border: 1px solid #D0D0D0;*/
}
.sideToggleIcon{
	margin-left: 10px;
	margin-right: 10px;
}
.sideToggleContent{
	display: none;
}
#questionCounter{
	margin-right: 10px;
}
.UTR5{
	background-color: #b5f8d5;
}
.UTR3{
	background-color: #f6c0c0;
}
.polyA{
	background-color: #fde7e7; 
}
.redMsg{
	/*margin-left: 20px;*/
	color: #e26060;
}
/*.alanin{ background-color: #FFFF00;} */       /* color from FR */
/*.arginin{ background-color: #89BD7D;}*/       /* color from FR */
/*.aspargin{ background-color: #00EF00;}*/		/* color from FR */
.alanin{ background-color: inherit;}        
.arginin{ background-color: inherit;}       
.aspargin{ background-color: inherit;}		
.asparginsyre{ background-color: inherit;}
.cystein{ background-color: inherit;}
.glutamin{ background-color: inherit;}
.glutaminsyre{ background-color: inherit;}
/*.glycin{ background-color: #FF9900;}*/		/* color from FR */
.glycin{ background-color: inherit;}		
.histidin{ background-color: inherit;}
/*.isoleucin{ background-color: #A64D79;}*/		/* color from FR */
.isoleucin{ background-color: inherit;}
.leucin{ background-color: inherit;}
/*.lysin{ background-color: #9900FF;}*/			/* color from FR */
.lysin{ background-color: inherit;}	
/*.methionin{ background-color: #F7009F;}*/     /* color from FR */
.methionin{ background-color: inherit;}
.fenylalanin{ background-color: inherit;}
/*.prolin{ background-color: #CC4125;}*/		/* color from FR */
/*.serin{ background-color: #00FFFF;}	*/		/* color from FR */
.prolin{ background-color: inherit;}		
.serin{ background-color: inherit;}			
.threonin{ background-color: inherit;}
.tryptofan{ background-color: inherit;}
.tyrosin{ background-color: inherit;}
.valin{ background-color: inherit;}

.start{
	background-color: #73f9a9;
}
.stop{
	background-color: #e26060;
}