.bioHeader{
	/*font-weight: 800;
	margin-right: 20px;*/
}
#input, .bioHolder{
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0px
}
.bioHolder{
	width: 80%;
	/*border: 1px solid #D0D0D0;*/
	display: inline-block;
	padding: 3px;
}
.distanceHolder{
	width: 200px;
	display: inline-block;
}
.reduceMargin{
	margin-top: 0px;
}
#userMsg {
	margin-left: 200px;
}
.direction{
	font-size: 1.1em;
}
#input{
	width: 80%;
}
.bioHolder span{
	padding: 3px 0px 1px 0px; 
	margin: 0px;
}
.sideToggleContainer{
	/*border: 1px solid #D0D0D0; */
	width: 97.5%;
	margin-top: 16px;
}
.sideToggleBar{
	/*border: 1px solid #D0D0D0;*/
}
.sideToggleIcon{
	margin-left: 10px;
	margin-right: 10px;
}
.sideToggleContent{
	display: none;
}
#questionCounter{
	margin-right: 10px;
}
.UTR5{
	background-color: #b5f8d5;
}
.UTR3{
	background-color: #f6c0c0;
}
.polyA{
	background-color: #fde7e7; 
}
.redMsg{
	/*margin-left: 20px;*/
	color: #e26060;
}


/*#protein_name, #protein_sym {font-family: inherit;}	*/							/* <----- TLY wants this */
/*#protein_sym span {border-radius: 10px; padding: 0px 5px;} */     			    /* <----- TLY wants this */

/*#protein_name {font-family: inherit;}*/											/* <----- WORKS IN ALL BROWSERS */
/*#protein_sym span {border-radius: 10px; padding: 0px 0px;} */  					/* <----- WORKS IN ALL BROWSERS */

#protein_name, #protein_sym {font-family: inherit;}									/* <----- TEST hat accommodates the wishes of FR and has the padding TLY wishes */
#protein_sym .aminoAcid {border-radius: 10px; padding: 0px 5px; font-size: 0.85em;}		/* <----- TEST hat accommodates the wishes of FR and has the padding TLY wishes */

#protein_sym .alanin{ background-color: #754277;  color: #FFF;}        
#protein_sym .arginin{ background-color: #7CC424;}       
#protein_sym .asparagin{ background-color: #156AFA;  color: #FFF;}		
#protein_sym .asparaginsyre{ background-color: #E4761F;}
#protein_sym .cystein{ background-color: #2DFEFD;}
#protein_sym .glutamin{ background-color: #FB101B;}
#protein_sym .glutaminsyre{ background-color: #C5945F;}
#protein_sym .glycin{ background-color: #CC68D4;}		
#protein_sym .histidin{ background-color: #1FC690;}
#protein_sym .isoleucin{ background-color: #E56455;}
#protein_sym .leucin{ background-color: #C2F2A9;}
#protein_sym .lysin{ background-color: #EF6CAF;}	
#protein_sym .methionin{ background-color: #E6B4A8;}
#protein_sym .fenylalanin{ background-color: #3C8213; color: #FFF;}
#protein_sym .prolin{ background-color: #978D71;}		
#protein_sym .serin{ background-color: #2F7985;  color: #FFF;}			
#protein_sym .threonin{ background-color: #82F8B3;}
#protein_sym .tryptofan{ background-color: #999AD3;}
#protein_sym .tyrosin{ background-color: #063E77;  color: #FFF;}
#protein_sym .valin{ background-color: #F8F135;}

.start{
	background-color: #73f9a9;
}
.stop{
	background-color: #e26060;
}